.git
.github
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp
venv
.venv
env
.env
.mypy_cache/
.pytest_cache/
.ruff_cache/
.vscode/
build/
dist/
tmp/
btb_logs/
tests/
docs/
dev/
bilitickerbuy.egg-info/
docker-compose.yml
config.json
cookies.json
